<%- include('../layouts/users/header', { title: 'Contact - Ellora Store', path: '/signUp',userId:userId,wishlistData:wishlistData ,cartData:cartData}) %>

<main class="main">
    <div class="intro-slider-container">
        <div class="intro-slider owl-carousel owl-simple owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav":false, "dots": false, "loop": false}'>
            <div class="intro-slide" style="background-image: url(assets/images/demos/demo-16/slider/slide-1.jpg);">
                <div class="container intro-content text-center">
                    <h3 class="intro-subtitle">Want to know what's hot?</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">For Spring In The City</h1><!-- End .intro-title -->
                    <a href="#scroll-to-content" class="btn btn-outline-white scroll-to">
                        <span>Start scrolling</span>
                        <i class="icon-long-arrow-down"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
        </div><!-- End .intro-slider owl-carousel owl-simple -->
        <span class="slider-loader text-white"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->
    <div class="container" id="scroll-to-content">
        <div class="pt-7"></div><!-- End .pt-6 -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="icon-box text-center">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-truck"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                        <p>Free shipping for orders over $50</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-3 col-sm-6 -->
            <div class="col-lg-3 col-sm-6">
                <div class="icon-box text-center">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-rotate-left"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                        <p>Free 100% money back guarantee</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-3 col-sm-6 -->
            <div class="col-lg-3 col-sm-6">
                <div class="icon-box text-center">
                    <span class="icon-box-icon text-dark">
                        <i class="la la-unlock"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Secure Payment</h3><!-- End .icon-box-title -->
                        <p>100% secure payment</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-3 col-sm-6 -->
            <div class="col-lg-3 col-sm-6">
                <div class="icon-box text-center">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-headphones"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                        <p>Alway online feedback 24/7</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-3 col-sm-6 -->
        </div><!-- End .row -->
        <hr class="mt-2 mb-6">
        <div class="products-display">
            <div class="heading text-center">
                <h4 class="subtitle text-primary">Womens Clothing</h4><!-- End .subtitle -->
                <h2 class="title">Refresh Your Wardrobe</h2><!-- End .title -->
                <p class="title-desc">Discover this season’s latest trends with the newest additions to <br>our women’s clothing collection.</p><!-- End .title-desc -->
            </div><!-- End .heading -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner banner-main banner-overlay">
                        <a href="category.html">
                            <img src="assets/images/demos/demo-16/banners/banner-1.jpg" alt="Banner">
                        </a>
                        <div class="banner-content left">
                                    <div class="banner-title"><a href="#">Dresses for all occasions.</a></div><!-- End .banner-title -->

                                    <p>Nail your on and off duty style with our new season collection of women’s dresses.</p>
                                    <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-main -->
                            </div><!-- End .banner banner-overlay -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-sm-4 col-lg-3 order-lg-first">
                            <div class="display-products-col">
                                <div class="product product-4 mb-7">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-16/products/product-1.jpg" alt="Product image" class="product-image">
                                            <img src="assets/images/demos/demo-16/products/product-1-2.jpg" alt="Product image" class="product-image-hover">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="product.html">Black ruched side slip dress</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            Rs.76.00
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .display-products-col -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-8 col-lg-3">
                            <div class="display-products-col">
                                <div class="row">
                                    <div class="col-6 col-lg-12">
                                        <div class="product product-4 mb-7">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="assets/images/demos/demo-16/products/product-2.jpg" alt="Product image" class="product-image">
                                                    <img src="assets/images/demos/demo-16/products/product-2-2.jpg" alt="Product image" class="product-image-hover">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                </div><!-- End .product-action -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <h3 class="product-title"><a href="product.html">Dark brown belted shirt dress</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    Rs.100.00
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-12 -->
                                        
                                    <div class="col-6 col-lg-12">
                                        <div class="product product-4 mb-7">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="assets/images/demos/demo-16/products/product-3.jpg" alt="Product image" class="product-image">
                                                    <img src="assets/images/demos/demo-16/products/product-3-2.jpg" alt="Product image" class="product-image-hover">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                </div><!-- End .product-action -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <h3 class="product-title"><a href="product.html">Blue belted midi denim dress</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    Rs.110.00
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                     </div><!-- End .col-sm-6 col-lg-12 -->
                                </div><!-- End .row -->
                            </div><!-- End .display-products-col -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner banner-main banner-main-reverse banner-overlay">
                                <a href="category.html">
                                    <img src="assets/images/demos/demo-16/banners/banner-2.jpg" alt="Banner">
                                </a>

                                <div class="banner-content right">
                                    <div class="banner-title"><a href="#">Coats & Jackets for effortless everyday looks.</a></div><!-- End .banner-title -->

                                    <p>Whichever style you choose from our new season collection of women’s coats and jackets, cosy chic vibes are guaranteed.</p>
                                    <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-main -->
                            </div><!-- End .banner banner-overlay -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-sm-8 col-lg-3 order-lg-first">
                            <div class="display-products-col">
                                <div class="row">
                                    <div class="col-6 col-lg-12">
                                        <div class="product product-4">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="assets/images/demos/demo-16/products/product-4.jpg" alt="Product image" class="product-image">
                                                    <img src="assets/images/demos/demo-16/products/product-4-2.jpg" alt="Product image" class="product-image-hover">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                </div><!-- End .product-action -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <h3 class="product-title"><a href="product.html">Dark yellow cropped denim jacket</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    Rs.96.00
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-12 -->
                                        
                                    <div class="col-6 col-lg-12">
                                        <div class="product product-4">
                                            <figure class="product-media">
                                                <a href="product.html">
                                                    <img src="assets/images/demos/demo-16/products/product-5.jpg" alt="Product image" class="product-image">
                                                    <img src="assets/images/demos/demo-16/products/product-5-2.jpg" alt="Product image" class="product-image-hover">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                </div><!-- End .product-action -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <h3 class="product-title"><a href="product.html">Light brown faux suede biker jacket</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    Rs.358.00
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                     </div><!-- End .col-sm-6 col-lg-12 -->
                                </div><!-- End .row -->
                            </div><!-- End .display-products-col -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-4 col-lg-3">
                            <div class="display-products-col">
                                <div class="product product-4">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-16/products/product-6.jpg" alt="Product image" class="product-image">
                                            <img src="assets/images/demos/demo-16/products/product-6-2.jpg" alt="Product image" class="product-image-hover">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="product.html">Light brown check suedette <br>trench coat</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            Rs.170.00
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .display-products-col -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .products-display -->
            </div><!-- End .container -->

            <div class="bg-lighter pt-6 pb-9">
                <div class="container">
                    <div class="heading text-center">
                        <h2 class="title">Shop The Collection</h2><!-- End .title -->
                        <p class="title-desc">Donec nec justo eget felis facilisis fermentum. <br>Aliquam porttitor mauris sit amet orci..</p><!-- End .title-desc -->
                    </div><!-- End .heading -->

                    <div class="owl-carousel owl-simple" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-16/products/product-7.jpg" alt="Product image" class="product-image">
                                    <img src="assets/images/demos/demo-16/products/product-7-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Linen-blend dress</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    Rs.60.00
                                </div><!-- End .product-price -->
                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-4">
                            <figure class="product-media">
                                <span class="product-label label-primary">Sale</span>
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-16/products/product-8.jpg" alt="Product image" class="product-image">
                                    <img src="assets/images/demos/demo-16/products/product-8-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Shoes</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Sandals with lacing</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">Now Rs.70.00</span>
                                    <span class="old-price">Was Rs.155.00</span>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-16/products/product-9.jpg" alt="Product image" class="product-image">
                                    <img src="assets/images/demos/demo-16/products/product-9-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Paper bag trousers</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    Rs.58.00
                                </div><!-- End .product-price -->
                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #9fac76;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-16/products/product-10.jpg" alt="Product image" class="product-image">
                                    <img src="assets/images/demos/demo-16/products/product-10-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Handbags</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Paper straw shopper</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    Rs.398.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-4">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/demos/demo-16/products/product-6.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Clothing</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Gray-blend dress</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    Rs.85.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .owl-carousel owl-simple -->
                </div><!-- End .container -->
            </div><!-- End .bg-lighter pt-5 pb-5 -->

            <div class="video-banner video-banner-bg bg-image text-center" style="background-image: url(assets/images/demos/demo-16/bg-1.jpg)">
                <div class="container">
                    <h3 class="video-banner-title h1 text-white"><span>Spring / Summer</span><strong>New & Stylish</strong><br> Collection 2019</h3><!-- End .video-banner-title -->
                    <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
                </div><!-- End .container -->
            </div><!-- End .video-banner bg-image -->

            <div class="mb-6"></div><!-- End .mb-6 -->

            <div class="blog-posts">
                <div class="container">
                    <div class="heading text-center">
                        <h2 class="title">New Blog Posts</h2><!-- End .title -->
                        <p class="title-desc">Donec nec justo eget felis facilisis fermentum.</p><!-- End .title-desc -->
                    </div><!-- End .heading -->
                    
                    <div class="owl-carousel owl-simple mb-4" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "items": 3,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "600": {
                                    "items":2
                                },
                                "992": {
                                    "items":3
                                },
                                "1200": {
                                    "items":3,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <article class="entry">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="assets/images/demos/demo-16/blog/post-1.jpg" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                    <a href="#">Nov 22, 2018</a>, 0 Comments
                                </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a href="single.html">Sed adipiscing ornare.</a>
                                </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                    <a href="single.html" class="read-more">Read More</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->
                    
                        <article class="entry">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="assets/images/demos/demo-16/blog/post-2.jpg" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                    <a href="#">Dec 12, 2018</a>, 0 Comments
                                </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a href="single.html">Aenean dignissim pellentesque felis.</a>
                                </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                    <a href="single.html" class="read-more">Read More</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->

                        <article class="entry">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="assets/images/demos/demo-16/blog/post-3.jpg" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                    <a href="#">Dec 19, 2018</a>, 2 Comments
                                </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a href="single.html">Quisque volutpat mattis eros.</a>
                                </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                    <a href="single.html" class="read-more">Read More</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->

                        <article class="entry">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="assets/images/demos/demo-2/blog/post-2.jpg" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                    <a href="#">Dec 12, 2018</a>, 0 Comments
                                </div><!-- End .entry-meta -->

                                <h3 class="entry-title">
                                    <a href="single.html">Aenean dignissim pellentesque felis.</a>
                                </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                    <a href="single.html" class="read-more">Read More</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->
                    </div><!-- End .owl-carousel -->

                    <div class="more-container text-center">
                        <a href="blog.html" class="btn btn-outline-primary-2 btn-more"><span>View more articles</span><i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .more-container -->

                    <hr class="mb-3">
                </div><!-- End .container -->
            </div><!-- End .blog-posts -->

            <div class="cta-newsletter text-center pt-4 pb-7">
                <div class="container">
                    <span class="cta-icon"><i class="icon-envelope"></i></span>
                    <h3 class="title">Subscribe for Our Newsletter</h3><!-- End .title -->
                    <p class="title-desc">and receive <span class="text-primary">Rs.20 coupon</span> for first shopping</p><!-- End .title-desc -->
                    
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" aria-describedby="newsletter-btn" required>
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="submit" id="newsletter-btn"><span>SUBSCRIBE</span><i class="icon-long-arrow-right"></i></button>
                            </div><!-- .End .input-group-append -->
                        </div><!-- .End .input-group -->
                    </form>

                    <p class="newsletter-desc">Your personal details are safe with us.</p><!-- End .newsletter-desc -->
                </div><!-- End .container -->
            </div><!-- End .cta-newsletter -->

            <div class="bg-lighter instagram pb-5">
                <div class="container">
                    <h2 class="title text-center mb-3 mb-md-4">Let Us Inspire You On Instagram</h2><!-- End .title -->

                    <div class="owl-carousel owl-simple" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "items": 5,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "360": {
                                    "items":2
                                },
                                "600": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":5
                                }
                            }
                        }'>
                        <div class="instagram-feed">
                            <img src="assets/images/demos/demo-16/instagram/1.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>466</a>
                                <a href="#"><i class="icon-comments"></i>65</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->

                        <div class="instagram-feed">
                            <img src="assets/images/demos/demo-16/instagram/2.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>39</a>
                                <a href="#"><i class="icon-comments"></i>78</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->

                        <div class="instagram-feed">
                            <img src="assets/images/demos/demo-16/instagram/3.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>691</a>
                                <a href="#"><i class="icon-comments"></i>87</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->

                        <div class="instagram-feed">
                            <img src="assets/images/demos/demo-16/instagram/4.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>508</a>
                                <a href="#"><i class="icon-comments"></i>124</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->

                        <div class="instagram-feed">
                            <img src="assets/images/demos/demo-16/instagram/5.jpg" alt="img">

                            <div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>433</a>
                                <a href="#"><i class="icon-comments"></i>27</a>
                            </div><!-- End .instagram-feed-content -->
                        </div><!-- End .instagram-feed -->
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .bg-lighter pt-5 -->
        </main><!-- End .main -->

        <%- include('../layouts/users/footer', { path: '/home' }) %>